/*social media icons from icomoon.io*/

/*all images copyright Michelle Chen 2010-2014*/

/* reds:
#940000
#82403D
#5E3433
#955251
*/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-b748h0');
    src:url('../fonts/icomoon.eot?#iefix-b748h0') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-b748h0') format('woff'),
        url('../fonts/icomoon.ttf?-b748h0') format('truetype'),
        url('../fonts/icomoon.svg?-b748h0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
    content: "\e90f";
}
.icon-facebook:before {
    content: "\ea8d";
}
.icon-instagram:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea92";
}
.icon-github:before {
    content: "\eab1";
}
.icon-tumblr:before {
    content: "\eabc";
}
.icon-linkedin:before {
    content: "\eac8";
}
.icon-mail:before {
    content: "\e600";
}


body{
    background-color: #f6f6f6;
    font-size: 14px;
    color: #555555;
}

h1{
    color: #f6f6f6;
    font-family: 'Oswald', sans-serif;
    font-size: 6em;
    text-align: center;
    letter-spacing:3px;
    padding: 10px;
}

p{
    font-family: 'Merriweather', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

a{
    color:#955251;
}

a:hover{
    color:#955251;
    opacity: .5;
}

#billboard {
    background-color: #82403D; 
    padding: 125px;
    min-height: 300;
    text-align: center;
}

#billboard .row{
    max-width: 100%;
}

#content{
    padding: 30px;
    text-align: center;
}

.icon{
    padding: 5px;
    font-size: 20px;
}

@media screen and (max-width : 650px){
#billboard{
    padding:100px;
    }
    h1{
    font-size: 4em;
  }
}
@media screen and (max-width : 500px){
  #billboard{
    padding:85px;
    }
    h1{
    font-size: 3.3em;
  }
}
